@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
::-webkit-input-placeholder { color: #ffffff; } ::-moz-placeholder { color: #ffffff; } /* Firefox 19+ */ :-moz-placeholder { color: #ffffff; } /* Firefox 18- */ :-ms-input-placeholder { color: #ffffff; }

:root {
  --container-height: 600px;
  --contaier-width: 400px;
  --header-height: 150px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', monospace;
}

html {
  font-size: 22px;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #bc7ff5;
}

.header {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #ffc106;
  flex-direction: column;
}

.container {
  background-color: antiquewhite;
  width: 700px;
  height: var(--container-height);
  position: relative;
  overflow: hidden;
}

.new_todo {
  width: 100%;
  height: 50px;
  padding: 0.25rem 0;
  background-color: #ffc107;
}
.new_todo form {
  display: flex;
  align-items: center;
}

.new_todo form input {
  flex: 1;
  height: 40px;
  background-color:  #ffc107;
  color: white;
  border: none;
  border-right: 0px;
  outline: transparent;
  padding-left: 0.5rem;
  font-size: 1rem;
}

.new_todo form button {
  width: 60px;
  height: 40px;
  font-size: 23px;
  background-color: transparent;
  color: white;
  border: none;
  border-left: 0px;
  cursor: pointer;
}
.new_todo form button:hover {
  text-shadow: 1px 1px 20px rgba(70, 67, 67, 0.8);
}

.delete_todos{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  color: #fff;
  background-color: #ffc106;
  justify-content: flex-start;
  flex-direction: column;
}

.delete_all_todos{
  text-decoration: none;
  display: inline-block;
  width: 158px;
  height: 32px;
  border-radius: 45px;
  margin: 7px 12px;
  font-size: 12px;
  text-align: center;
  font-weight: 600;
  color: rgb(0 0 0);
  background: white;
  box-shadow: 0 8px 15px rgb(0 0 0 / 10%);
  transition: .2s;
}

.delete_done_todos{
  text-decoration: none;
  display: inline-block;
  width: 158px;
  height: 32px;
  border-radius: 45px;
  margin: 7px 12px;
  font-size: 12px;
  text-align: center;
  font-weight: 600;
  color: rgb(0 0 0);
  background: white;
  box-shadow: 0 8px 15px rgb(0 0 0 / 10%);
  transition: .2s;
}

.delete_all_todos:hover{
  background: #bc7ff5;
  box-shadow: 0 15px 20px rgba(131, 46, 229, 0.4);
  color: white;
  transform: translateY(-7px);
}

.delete_done_todos:hover{
  background: #bc7ff5;
  box-shadow: 0 15px 20px rgba(131, 46, 229, 0.4);
  color: white;
  transform: translateY(-7px);
}

#todosList {
  height: calc(var(--container-height) - var(--header-height));
  background-color: #fff;
  padding: 0.5rem;
  border: 1px solid rgb(219, 219, 219);
  overflow: scroll;
  border-radius: 0 0 5px 5px;
}

#todosList .todo {
  display: flex;
  align-items: center;
  padding: 0.75rem 0.5rem;
  border-radius: 5px;
}
#todosList .todo:hover {
  background-color: rgba(214, 222, 233, 0.753);
}
#todosList .todo * {
  cursor: pointer;
  margin-right: 0.5rem;
}
#todosList .todo i {
  color:  #673ab7;
  font-size: 0.9rem;
}
#todosList .todo p {
  flex: 1;
  word-break: break-all;
}

.input{
  width: 90%;
  font-size: 18px;
}

.back_button{
  width: 10%;
  font-size: 18px;
  background-color: rgb(228, 131, 40);
  color: white;
}

.save_button{
  width: 10%;
  font-size: 18px;
  background-color: rgb(228, 131, 40);
  color: white;
}

.checked { 
  text-decoration: line-through gray;
  color: gray;
}

#todosList .todo .bi-pencil-square {
  color: rgb(228, 131, 40);
}
#todosList .todo .bi-trash {
  color: #9c73c2;
  margin: 0;
}

.notification {
  position: absolute;
  width: calc(3 * var(--contaier-width) / 4);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  border-radius: 8px;
  background-color: rgb(233, 81, 81);
  top: 10px;
  right: calc(-3 * var(--contaier-width) / 4);
  padding-left: 14px;
  padding-right: 14px;
  color: #fff;
  transition: 400ms right ease-in-out;
}

.notif-enter {
  right: 10px;
}